/* LIST STYLES */
li {
  list-style: none;
}

.list-group-item {
  border-style: none;
  background-color: transparent;
}

/* NAVBAR ADJUSTMENTS AND STYLES */
#navbarorgid {
  background-color: rgb(155, 216, 181) !important;
}

#navbarorgid.navbar.navbar-light.bg-light {
  text-align: center !important;
  align-content: center;
  display: inline;
}

#navbarorg {
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: smaller;
  border-style: none;
  background-color: rgb(155, 216, 181);
  margin: unset;
  text-align: center;
}

#nav4 {
  display: inline;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: smaller;
  border-style: none;
  justify-content: space-evenly;
  text-align: center;
  box-sizing: unset;
  background-color: rgb(155, 216, 181);
}

/* HEADER STYLES */
h5 {
  text-align: center;
}

h1 {
  color: #f41e65;
  text-shadow: slategrey 1px 1px 3px;
  text-align: center;
  background-image: url("../images/bgattempt.jpg");
}

.card-header {
  background-color: rgba(0, 128, 128, 0.096);
}

/* SECTION BACKGROUND COLOR FOR TESTING */
.card {
  background-color: rgba(155, 216, 181, 0.849);
}

body {
  background-image: url("../images/bgattempt.jpg");
}

#cinfodiv {
  font-size: large;
}

/* CONTAINER STYLES */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: unset;
}

.container,
.container-lg,
.container-md,
.container-sm {
  max-width: unset;
}

/* LINK STYLES */
a {
  color: seagreen;
}

a:hover {
  color: #f41e65;
}

/* BUTTON STYLES */
.btn {
  border-radius: 4px;
  background-color: #f41e65;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 10px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:hover {
  background-color: seagreen !important;
}

/* IMAGE STYLES */
img {
  margin-top: 2%;
  margin-bottom: 2%;
  max-width: 800px;
  filter: grayscale(90%);
}

img:hover {
  box-shadow: 0 0 7px 5px rgba(0, 128, 128, 0.226) !important;
  transform: scale(1.0075);
  filter: grayscale(0%);
}

/* AVITAR / PIC STYLES */
#imagesmallplease {
  max-width: 200px;
  border-radius: 50%;
  filter: grayscale(5%);
  transform: unset;
}

#imagesmallplease:hover {
  transform: unset;
}

/* FOOTER */
footer {
  margin-top: 2%;
}
